
@inject Business.Manager.Interface.IMenuBiz _menuBiz;

@{


    var menuItems = _menuBiz.GetList();

}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">



        <li class="nav-item">

            @foreach (var item in menuItems.EntityList)
            {
                <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="mdi mdi-account menu-icon"></i>
                    <span class="menu-title">@item.Name</span>
                    <i class="menu-arrow"></i>
                </a>

                @if (item.SubMenuItems.Count > 0)
                {

                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">

                            @foreach (var subMenu in item.SubMenuItems)
                            {
                                <li class="nav-item"> <a class="nav-link" href="@subMenu.Path"> @subMenu.Name </a></li>
                            }


                        </ul>
                    </div>

                }



            }


        </li>

    </ul>
</nav>